* {    
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #E5E8EB;
	background-image: url('/assets/images/gray_paper_tiny.jpg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: repeat;
	background-size: 10%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}

p {
	margin: 0px 
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	overflow: hidden; /* Prevents scrollbars from appearing in main */
}

header {
	background-color: rgb(0, 0, 0);
	/* width: 100%; */
	flex-shrink: 1;
}

header nav {
	display: flex;
	flex-direction: row;
}

header nav a {
	padding: 24px;
	color: rgb(255, 255, 255);
}

header nav a.active {
	background: rgba(255, 255, 255, 0.2);
}

ul {
	margin: 0px;
	padding-left: 32px;
}

li {
	padding-bottom: 2px;
}

div.content_wrap {
	padding: 32px;
	height: 100%;
	width: 100%;
	overflow: auto; /* Enables scrolling within article if content overflows*/
}

div.content {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

article {
	width: 1100px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.5);
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

body[location='resume'] section.header {
	text-align: center;
	/* border-bottom: solid 1px rgb(0, 0, 0); */
	padding-bottom: 12px 0px;
}

body[location='resume'] section h2 {
	border-bottom: solid 1px rgb(0, 0, 0);
	padding: 8px;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 12px;
}

body[location='resume'] section h3{
	font-size: 16px;
}

body[location='resume'] .item {
	padding: 12px 0px;
}

body[location='resume'] .item_heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

body[location='resume'] .item_heading .info,
body[location='resume'] .item_heading .details {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

body[location='resume'] .item_heading .details {
	text-align: right;
}

body[location='resume'] .item_heading .details .duration{
	font-style: italic;
}